mixin aside
	aside.aside 
		label.aside__label
			input.aside__input(type="text", placeholder="Search blog")
		ul.aside__list 
			h3.aside__title(class='announcements') Announcements
			li.aside__item Upcoming Changes (Live Chat, Less Censorship, More Access)
			li.aside__item New Servers (US Washington DC)
			li.aside__item New Servers (US Denver)
			li.aside__item Open Source: Releasing the PIA iOS Client
			li.aside__item Opera Extension is now available
		ul.aside__list 
			h3.aside__title(class='popular-posts') Popular posts
			li.aside__item The Gift of Privacy
			li.aside__item UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture
			li.aside__item About the PIA Client Security and VPN Security in General
			li.aside__item A Private Net Is Just As Fundamental A Right As Freedom Of Speech
			li.aside__item Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie
		a.aside__banner(href="#") 
			+picture({
				typeJpeg: false,
				png: false,
				media: 100,
				is2x: false,
				contain: true,
				class: 'aside__img',
				img: `banner`,
				img_mob: `banner`
			})
		.aside__tags 
			h4.aside__tags__title Tag cloud
			.aside__tags__tag
				a.aside__banner(href="#") 
					+picture({
						typeJpeg: false,
						png: true,
						media: 1024,
						is2x: false,
						contain: true,
						class: 'aside__img',
						img: `tag__scrren`,
						img_mob: `tag__scrren`
					})