mixin header
	header.header
		.container 
			.header__inner 
				.header__inner__tags
					span.header__tags__title tags: 
					ul.header__list
						li.header__item
							a.header__tags__link(href="#") bitcoin 
						li.header__item
							a.header__tags__link(href="#") bittorrent
						li.header__item
							a.header__tags__link(href="#") irc 
						li.header__item
							a.header__tags__link(href="#") news
						li.header__item
							a.header__tags__link(href="#") primacy
						li.header__item
							a.header__tags__link(href="#") programming
						li.header__item
							a.header__tags__link(href="#") security
				nav.header__nav
					a.header__link(href="#") team
					a.header__link(href="#") contact