mixin header
	header.header
		.container 
			.header__inner 
				.header__tags
					span.header__tags--title tags: 
					a.header__tags--link(href="#") bitcoin 
					a.header__tags--link(href="#") bittorrent
					a.header__tags--link(href="#") irc 
					a.header__tags--link(href="#") news
					a.header__tags--link(href="#") primacy
					a.header__tags--link(href="#") programming
					a.header__tags--link(href="#") security
				nav.header__nav
					a.header__link(href="#") team
					a.header__link(href="#") contact