.aside {
	display: block;
	max-width: 25rem;
	padding-left: 3.6rem;

	border-left: 1px solid #EBECED;

	@include bp ($point_2) {
		padding-left: 0.6rem;
		max-width: 40%;
	}

	@include bp ($point_6) {
		max-width: 100%;
		padding-left: 0;
		border-left: none;
	}
}

.aside__label {
	@extend %aside__label;
}

.aside__input {
	@extend %aside__input;
}

.aside__list {
	padding: 1rem 0 2.6rem;
	margin-bottom: 1rem;

	list-style: none;
	border-bottom: 1px solid #EBECED;

	&:last-of-type {
		margin-bottom: 2rem;
	}
}

.aside__title {
	position: relative;

	padding-left: 5rem;
	margin-bottom: 2rem;

	font-size: 1.5rem;
	line-height: 2.2rem;
	font-weight: 300;
	color: #22252E;

	@include bp ($point_3) {
		padding-left: 2.4rem;
		margin-bottom: .8rem;

		font-size: 1.2rem;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;

		width: 3.8rem;
		height: 3.8rem;

		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@include bp ($point_3) {
			width: 2.6rem;
			height: 2.6rem;
		}
	}
}

.announcements::after {
	top: -.8rem;
	background-image: url(../images/icons/announcements.png);
}

.popular-posts::after {
	left: .6rem;

	width: 2.6rem;
	height: 2.6rem;

	background-image: url(../images/icons/posts.png);

	@include bp ($point_3) {
		width: 1.6rem;
		height: 1.6rem;
		top: 4px;
	}
}

.aside__item {
	position: relative;

	padding-left: .8rem;

	font-size: 0.8rem;
	line-height: 1.4rem; //! я хз как сделать тут пиксель в rem если не округлять не px и не % 

	color: #323642;

	&:not(:last-child) {
		margin-bottom: 1rem;

		@include bp ($point_3) {
			margin-bottom: .4rem;
		}
	}

	&::after {
		content: '';
		position: absolute;
		top: .5rem;
		left: 1px;

		width: 3px;
		height: 3px;

		background-color: #4CB649;
		border-radius: 50%;
	}
}

.aside__banner {
	display: block;

	margin-bottom: 2.8rem;

	overflow: hidden;

	transition: box-shadow 0.3s, transform 0.3s, border-radius 0.3s;

	@include bp ($point_3) {
		margin-bottom: 1.2rem;
	}

	@include bp ($point_6) {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 1.2rem;
	}

	&:hover {
		border-radius: 1.2rem;
		box-shadow: 0 0 18px 0 rgba(150, 1, 1, 0.247);

		transform: scale(1.02);
	}
}

.aside__img {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: contain;

	@include bp ($point_3) {
		width: 100%;
	}
}

.contain_img {
	width: 100%;
	height: auto;
}

.aside__tags__title {
	margin-bottom: 1rem;

	font-size: 1.5rem;
	line-height: 2.2rem;
	font-weight: 300;

	@include bp ($point_3) {
		margin-bottom: .4rem;
	}

	@include bp ($point_6) {
		text-align: center;
	}
}

.aside__tags__tag {
	position: relative;
	left: -.6rem;

	display: block;

	@include bp ($point_3) {
		left: 0px;
	}

	@include bp ($point_6) {
		text-align: center;
	}
}